<section id="home" class="home grid grid-cols-6 gap-4 justify-items-center items-stretch">
  <article class="col-span-6 w-full bg-neutral-800 rounded p-4 h-80">
    <header>
      <h2 class="text-neutral-300 font-light text-xl">Collections</h2>
    </header>
    <p>1</p>
  </article>
  <article class="col-span-2 w-full bg-neutral-800 rounded p-4 h-80">
    <header>
      <h2 class="text-neutral-300 font-light text-xl">Prices</h2>
    </header>
    <p>2</p>
  </article>
  <article class="col-span-4 w-full bg-neutral-800 rounded p-4 h-80">
    <header>
      <h2 class="text-neutral-300 font-light text-xl">Prices chart</h2>
    </header>
    <p>3</p>
  </article>
  <article class="col-span-2 w-full bg-neutral-800 rounded p-4 h-80">
    <header>
      <h2 class="text-neutral-300 font-light text-xl">Transactions</h2>
    </header>
    <p>4</p>
  </article>
  <article class="col-span-2 w-full bg-neutral-800 rounded p-4 h-80">
    <header>
      <h2 class="text-neutral-300 font-light text-xl">Transactions</h2>
    </header>
    <p>5</p>
  </article>
  <article class="col-span-2 w-full bg-neutral-800 rounded p-4 h-80">
    <header>
      <h2 class="text-neutral-300 font-light text-xl">Transactions</h2>
    </header>
    <p>6</p>
  </article>
</section>
