<div class="min-h-screen flex bg-neutral-900">
  <!-- Botón de hamburguesa visible solo en móviles -->
  <button 
    class="lg:hidden p-4 text-white fixed top-4 left-4 z-30 bg-neutral-600 rounded"
    (click)="toggleSidebar()"
    aria-label="Toggle Sidebar"
  >
    <i class="pi pi-bars text-2xl"></i>
  </button>

  <!-- Sidebar -->
  <header 
    class="w-72 fixed inset-y-0 border-r border-r-neutral-800 z-20 bg-neutral-900 transition-transform transform lg:transform-none"
    [ngClass]="{'-translate-x-full': !isSidebarOpen, 'translate-x-0': isSidebarOpen, 'lg:translate-x-0': true}"
    aria-label="Sidebar"
  >
    <app-sidebar></app-sidebar>
  </header>

  <!-- Main Content -->
  <main 
    class="flex-1 lg:ml-72 overflow-y-auto container mx-auto px-4 py-8" 
    aria-label="Main Content"
    [ngClass]="{'ml-0': !isSidebarOpen, 'ml-72': isSidebarOpen && !isMobileScreen}"
  >
    <router-outlet></router-outlet>
  </main>
</div>