<div class="overflow-x-auto">
    <p-table [value]="symbols" class="w-full">
        <ng-template pTemplate="header">
            <tr class="bg-neutral-800">
                <th class="text-left text-neutral-300 p-2 border-b border-neutral-700">Name</th>
                <th class="text-left text-neutral-300 p-2 border-b border-neutral-700">SOL</th>
                <th class="text-left text-neutral-300 p-2 border-b border-neutral-700">CURRENCY</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-symbol>
            <tr class="hover:bg-neutral-600">
                <td class="text-neutral-300 p-2 border-b border-neutral-700">{{symbol.name}}</td>
                <td class="text-neutral-300 p-2 border-b border-neutral-700">{{symbol.price}}</td>
                <td class="text-neutral-300 p-2 border-b border-neutral-700">{{symbol.currentCurrencyPrice | currency: 'USD'}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr class="bg-neutral-800">
                <td colspan="1" class="text-right text-neutral-300 p-2 border-t border-neutral-700">Totals</td>
                <td class="text-neutral-300 p-2 border-t border-neutral-700">{{totalSolPrice}}</td>
                <td class="text-neutral-300 p-2 border-t border-neutral-700">{{totalCurrencyPrice | currency: 'USD'}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>